name = "DocumenterShikiDemo"
uuid = "ce2f65a5-f429-49ea-874b-7af735fadbe5"
authors = ["Hiroharu Sugawara <hsugawa@gmail.com> and contributors"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
